/*
Nguyên tắc:
1. Từ ngoài vào trong
2. Từ trên xuống dưới
3. Tổng quan đến chi tiết
*/

/*
1. Vị trí
2. kích thước
3. màu 
4. kiểu dáng (kiểu chữ, hình tròn, vuông,...)
*/
/*Reset css*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Helvetica, Arial, sans-serif;
}
#main {
    height: 46px;
    background-color: #000;
}

#header {

}

#nav li {
    display: inline-block;
}

#nav li a{
    color: #fff;
    text-decoration: none;
    line-height: 46px;
    padding: 0px 24px;
    display: inline-block;
}

#nav li:hover a{
    color: #000;
    background-color: #ccc;
}
#nav .subnav {
    display: none;
}

#slider {

}

#content {

}

#footer {

}
